#忽略mac存储文件
LMInit/.DS_Store

# 忽略 Python 虚拟环境文件夹
.venv/
Include/
Lib/
Scripts/
bin/
include/
lib/
pyvenv.cfg

# 通用的忽略规则
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

#忽略模型文件
models/
pretrained_models/
.DS_Store
.venv
